.rankings {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin-bottom: 15px;
}

.rank-cell, .row-label {
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
}

.rank-row {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 4px;
}

.first-tier {
    background-color: green;
}

.second-tier {
    background-color: yellow;
}

.third-tier {
    background-color: brown;
}

.fourth-tier {
    background-color: red;
}